.card-container{
  width: 800px;
  margin: 5vh auto;
}

.rating-containter{
  flex: 0 0 auto
}

.title-text{
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: x-large;
  line-height: 2rem;
}

.image{
  width: auto;
  height: 100%;
  max-width: 185px;
  max-height: 278px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 1s;
}

.image:hover{
  transform: scale(1.01);
}

.title{
  flex: 1 1 auto;
  overflow: hidden;
  cursor: pointer;
  transition: transform 1s;
}

.actions{
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.title:hover{
  border-radius: 16px;
  transition-duration: 1s;
  transform: skewX(-10deg);
}

.actors{
  height: 100%;
}

.actor-name{
  font-weight: lighter;
  font-size: smaller;
}

.actors-header{
  border-bottom: 1px solid rgba(150, 150, 150, 0.3);
  border-radius: 3px;
}

p {
  margin: 0;
}

.card-header{
  height: 3rem;
  padding: 2rem 1rem;
  font-weight:bold;
  font-size: x-large;
}

.card-header p{
  padding: 0;
  margin: 0;
}

.card-body{
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  align-items: center;
}

.actors p{
  text-align: center;
}

.details{
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-container{
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  margin: 0.5rem 0;
}

.details-text{
  width: 350px;
  height: 200px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
  line-height: 20px;
  padding: 4px 4px 4px 10px;
}
.main-container{
  display: flex;
}

@media screen and (max-width: 920px) {
  .card-body {
    flex-direction: column;
  }

  .card-container{
    width: 580px;
    margin: 5vh auto;
  }
  .actors-wrapper{
    display: flex;
    justify-content: space-around;
  }
  .actors{
    margin-top: 0.5rem;
  }
  .actor-name-wrapper{
    margin: 0 0.5rem;
  }
  .actions{
    flex-direction: row;
    width: 100%;
  }
}
@media screen and (max-width: 620px) {
  .card-container{
    width: 450px;
  }
  .details-text{
    height: 100px;
    -webkit-line-clamp: 5;
    padding: 10px 4px 4px 4px;
    margin-bottom: 10px;
  }
  .main-container{
    align-items: center;
    flex-direction: column;
  } 
}
@media screen and (max-width: 500px) {
  .card-container{
    width: 350px;
  }
  .card-body{
    flex-direction: row;
  }
  .details-text{
    display: none;
  }

  .actors-wrapper{
    display: block;
  }
  .actions{
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: min-content;
  }
  .card-header{
    height: 2rem;
    padding: 1rem 0rem;
    font-size: larger;
  }
  .title-text{
    font-size: large;
  }
}

@media screen and (max-width: 400px) {
  .card-container{
    width: 260px;
  }

  .details-text{
    display: none;
  }
  .actors{
    display: none;
  }

  .actions{
    flex-direction: row;
  }
  .card-body{
    flex-direction: column;
  } 
  .card-header{
    font-size: medium;
  }
  .title-text{
    font-size: medium;
  }
  ::ng-deep mat-card{
    padding: 6px !important;
  }
}
