<mat-card class="card-container" fxLayout="column" fxLayoutAlign="none">
  <div class="card-header" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="title"  (click)="navigateToDetails()">
      <p class="title-text ">{{movie.title}}</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="rating-containter">
      <p>{{movie.rating}} </p>
      <mat-icon color="accent">favorite</mat-icon>
    </div>
  </div>
  <div #container class="card-body">
    <div class="main-container">
      <div>

      </div>
      <img [src]="isBase64Image(movie.image) ? movie.image : '../../../assets/not-found.png'" class="image" (click)="navigateToDetails()" />
      <div class="description" fxLayout="column" fxLayoutAlign="space-around none">
        <div class="details">
          <p class="details-text">
            {{movie.description}}
          </p>
        </div>
        <div class="category-container">
          <mat-chip color="accent" selected>{{release}}</mat-chip>
          <ng-container *ngFor="let category of movie.categories">
            <mat-chip>{{category.name}}</mat-chip>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="actors">
      <p class="actors-header">Actors</p>
      <div class="actors-wrapper">
        <div class="actor-name-wrapper" *ngFor="let cast of getActorsDependsOnWindowSize()">
          <p class="actor-real-name">{{cast.name}}</p>
          <p class="actor-name">{{cast.character}}</p>
        </div>
      </div>
    </div>
    <app-movie-marker  class="actions" [(movie)]="movie"></app-movie-marker>
  </div>
</mat-card>
