<div class="main-container">
  <div class="chips-container">
    <mat-chip
      *ngFor="let option of options"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(option)">
      {{option}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
  </div>
  <div class="search-container">
    <mat-form-field class="chip-list this-feels-better" appearance="outline"  >
      <mat-chip-list #chipList>
        <input
         [placeholder]="inputPlaceholder"
          #movieInput
          [formControl]="movieFormControl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let option of (stopAutocomplete() ? []:(filteredOptions | async))" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button type="submit" class="btn-arround-margin" mat-raised-button color="accent" (click)="sendSearchResult()">Search</button>
  </div>
</div>



